/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

//轮播图
.yw-carousel.el-carousel {
  &.el-carousel--vertical {
    .el-carousel__indicators--vertical {
      right: 20px;
      top: 50%;
    }

    .el-carousel__indicator--vertical {
      .el-carousel__button {
        width: 12px;
        height: 12px;
        border-radius: 100%;
      }
    }
  }
}

//scrollbar
.yw-scrollbar {
  &.el-scrollbar {
    .el-scrollbar__wrap {
      overflow-x: hidden;
    }

    .el-scrollbar__bar {
      opacity: 1;
    }
  }
}

//tabs
.yw-tabs {
  float: right;
  margin-right: 30px;

  &.el-tabs--card {

    .el-tabs__header {
      border: none;

      .el-tabs__nav {
        border: none;
      }

      .el-tabs__item {
        height: 25px;
        line-height: 25px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding: 0 10px;
        color: #918FBA;

        &.is-active {
          border: 1px solid rgba(255, 255, 255, 0.20);
          border-bottom: none;
          color: #fff;
        }
      }
    }

  }
}

//表格
.yw-table-wrap {
  height: calc(100% - 300px);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  width: calc(100% - 40px);
  margin: 30px auto 0;

  .yw-table {
    height: 100%;

    .yw-table-item {
      height: 33px;
      line-height: 33px;
      font-size: 14px;
      color: #ffffff;
      letter-spacing: 0;
      padding: 0 30px;

      &:nth-of-type(even) {
        background: rgba(255, 255, 255, 0.05);
      }

      .yw-table-inner {
        display: inline-block;

        &:nth-child(1) {
          width: 50%;
        }

        &:nth-child(2) {
          width: 24%;
          text-align: right;
        }

        &:nth-child(3) {
          width: 24%;
          text-align: right;
        }
      }

      &.yw-table-header {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #bbcee4;
        letter-spacing: 0;
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}