/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

//轮播图
.yw-carousel.el-carousel {
  &.el-carousel--vertical {
    .el-carousel__indicators--vertical {
      right: 20px;
      top: 50%;
    }

    .el-carousel__indicator--vertical {
      .el-carousel__button {
        width: 12px;
        height: 12px;
        border-radius: 100%;
      }
    }
  }
}

//scrollbar
.yw-scrollbar {
  &.el-scrollbar {
    .el-scrollbar__wrap {
      overflow-x: hidden;
    }

    .el-scrollbar__bar {
      opacity: 1;
    }
  }
}

//tabs
.yw-tabs {
  float: right;
  margin-right: 30px;

  &.el-tabs--card {

    .el-tabs__header {
      border: none;

      .el-tabs__nav {
        border: none;
      }

      .el-tabs__item {
        height: 25px;
        line-height: 25px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding: 0 10px;
        color: #918FBA;

        &.is-active {
          border: 1px solid rgba(255, 255, 255, 0.20);
          border-bottom: none;
          color: #fff;
        }
      }
    }

  }
}